<component name="libraryTable">
  <library name="github.lbovolini.ObjectMapper" type="repository">
    <properties maven-id="com.github.lbovolini:ObjectMapper:0.2.2" />
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/com/github/lbovolini/ObjectMapper/0.2.2/ObjectMapper-0.2.2.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>